
<div class="row" *ngIf="model">
    <div class="col-4">
    </div>
    <div class="col-4">
        <div class="card flex-row">
            <div class="card-body">
                <h5 class="card-title">
                    {{ model.name }}
                </h5>
                <div class="card-text">
                    <div class="{{ model.type1! | pokemonTypeColor }} rounded-pill">
                        {{ model.type1 }}
                    </div>
                    <div class="{{ model.type2! | pokemonTypeColor }} rounded-pill">
                        {{ model.type2 }}
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="pokemonForm" (ngSubmit)="onSubmit()" *ngIf="model">
            <div class="form-group">
                <label for="name">Nom</label>
                <input type="text" class="form-control" id="name" formControlName="name" name="name">
            </div>
            <div class="form-group">
                <label for="type">Type 1</label>
                <input type="text" class="form-control" id="type1" formControlName="type1" name="type">
            </div>
            <div class="form-group">
                <label for="type">Type 2</label>
                <input type="text" class="form-control" id="type2" formControlName="type2" name="type">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
                <button class="btn btn-primary">Envoyer</button>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" (click)="goToPokemonList()">Retour</button>
            </div>
        </form>  
    </div>
    <div class="col"></div>
</div>

